:host {
  display: flex;
  align-items: center;
}

.card {
  display: flex;
  width: 100px;
  height: 100px;
  background-color:  #5787c0;
  border-radius: 8px;
  position: relative;
  overflow: hidden;
  justify-content: center;
  align-items: center;

  * {
    color: white;
  }
}

.link {
  background-color: #274373;
  width: 10px;
  height: 60px;
}

.sku {
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: 1rem;
}

.default {
  font-size: 3rem;
}

.open, .closed {
  position: absolute;
  border-radius: 4px;
  bottom: 20%;
  left: -3px;
  width: 7px;
  height: 60px;
}

.open {
  background-color: yellow;
}

.closed {
  background-color: red;
}
